{{#partial "content"}}


    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/event/new">Add New Event</a></li>
    </ul>
    <div class="container">
        <!--begin main template-->
        <div class="page-header">
            <h1>All Events</h1>
        </div>
        <div class="well">
            {{#if events}}
                <table>
                    <tr>
                        <th>Event Name</th>
                        <th>Description</th>
                        <th>Registration Count</th>
                    </tr>
                {{#each events}}
                    <tr>
                        <td> <a class="blacklink" href="/event/{{ id }}">{{ name }}</a> </td>
                        <td>{{ description }}</td>
                        <td>{{ attendeeCount }}</td>
                    </tr>
                {{/each}}
                </table>
            {{else}}
                <p>There are no events at this time.</p>
            {{/if}}
        </div>
    </div>

{{/partial}}
{{> layout.hbs}}